.page-header{
    text-align:center;
}

.carousel-inner{
    text-align:center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.first-input{
    margin-top: 20px;
    margin-bottom:20px    
    
}

.input-group-addon {
    min-width:100px;// if you want width please write here //
    text-align:left;
    margin-top:10px;
    margin-bottom:10px;
}
